.wrapper{
	width: 100vw;
	min-height: 100%;
	overflow: hidden;
	background: lightcyan;
	}
.container{
	margin: 0 auto;
	max-width: 1210px;
	padding: 0 5px;
}
.content{
	display: grid;
	grid-template: 1fr/1fr auto;
	height:100vh;

}
@media(max-width:970px){
	.content{
		grid-template: 1fr auto/1fr;	
	}
}



